@import "cores";
.filtro{
  width: 80%;
  height: auto;
  //background-color: red;
  float: right;
  margin: 20px 0;
  color: $cinza-escuro;
  .container-filtro{
    //background-color: #1ebfae;
    float: left;
    ul{
      h3{
        //background-color: #0d3625;
        margin: 0;
      }
      li{
        font-size: 0.8em;
        //background-color: pink;
        padding: 5px 0 0;

      }
      fieldset{
        border: 0;
        margin: 0;
        border-left: 1px solid $cinza-medio;
        padding: 0 0 8px 8px;

      }
    }
  }
  .titulo-filtro{
    border-left: none !important;
  }
  .filtro-titulo{
    width: 10%;
    //background-color: red;
  }
  .novidades{
    width: 15%;
    //background-color: #1ebfae;
  }
  .modelos{
    width: 17%;
    //background-color: #1ebfae;
  }
  .tamanhos{
    width: 13%;
    //background-color: #1ebfae;
  }
  .estampas{
    width: 45%;
    //background-color: #1ebfae;
    ul{
      li{
        float: left;
        margin-left: 5px;
        img{
          width: 40px;
          height: 40px;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          border-radius: 20px;
          border: 1px solid $cinza-escuro;

        }
      }
    }
  }
  .niceform input[type=checkbox] {
    opacity: 0;
    margin-right: -18px;
    cursor: pointer;
    width: 16px;
    height: 16px;
    position: relative;

  }
  .niceform input[type=checkbox] + span:before {
    content: "\00a0";
    display: inline-block;
    //margin-right: 5px;
    width: 14px;
    height: 14px;
    visibility: visible;
    border: 1px solid #999;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    line-height: 15px;

  }
  .niceform input[type=checkbox]:checked + span:before {
    //content: "\00d7";
    //color: black;
    //background-color: lightsalmon;
    background-color: darkgray;
    border: 1px solid grey;
  }

}